spring.application.name=Estapar
server.port=3003

# Database
spring.datasource.url=jdbc:mysql://localhost:3306/estapar
spring.datasource.username=
spring.datasource.password=

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true